<%- include('../partials/head'); -%>

<h1>Hi</h1>
<!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->
<form id="searchForm">
    <input
        type="text"
        name="query"
        placeholder="What would you like to find"
        id="query"
    />
    <button type="submit" id="searchButton">Search</button>
</form>
<div id="searchResults"></div>

<%- include('../partials/footer'); -%>
